@import 'tailwindcss';

@theme {
  --color-header: var(--app-header-background-color);
}

:host {
  --hass-sharp-header-height: calc(var(--header-height) + 56px);
}

.header {
  position: fixed;
  top: 0px;
  z-index: 4;
  width: calc(var(--mdc-top-app-bar-width, 100%) - var(--safe-area-inset-right, 0px));
  padding-top: var(--safe-area-inset-top);
  padding-right: var(--safe-area-inset-right);
  color: var(--app-header-text-color, #fff);
  border-bottom: var(--app-header-border-bottom, none);
  backdrop-filter: var(--app-header-backdrop-filter, none);
  height: var(--hass-sharp-header-height);
  @apply bg-header;
}

.header-content {
  @apply h-full;
  padding-top: calc(var(--hass-sharp-header-height) + var(--safe-area-inset-top, 0px));
}

.monaco-editor {
  @apply rounded-md!;
}

.tab-group::part(tabs) {
  border: none !important;
}

hr.vertical {
  width: 1px;
  background-color: gray;
  /* or height in PX */
}
